bert-cav/est/*
!bert-cav/est/arguments.conf
bert-cav/CMDs/*
bert-cav/LOGs/*

feature-cav/data/*
feature-cav/CMDs/*
feature-cav/DDN*/*
feature-cav/DNN*/*
feature-cav/DDN_BERT*/*
!feature-cav/DDN/ALTA/ASR_V2.0.0/arguments.conf
!feature-cav/DNN/ALTA/ASR_V2.0.0/arguments.conf
feature-cav/processed_data/*
feature-cav/Logs/*

wav-cav/CMDs/*
wav-cav/data_vectors_attention/*
wav-cav/eval/*
!wav-cav/eval/LIESTgrp06/arguments.conf
wav-cav/models/*
wav-cav/LOGs/*

**/__pycache__/
